.cta {
    display: flex;
    @media(max-width: 800px){
        justify-content: center;
    }
    @media(max-width: 500px){
        justify-content: center;
        margin-right: 260px;
    }

    img {
        display: flex;
        margin-top: 69px;
        @media(max-width: 800px){
            display: none;
        }
    }

    .cta-text {
        vertical-align: top;
        font-size: 5rem;
        margin-top: 120px;
        text-align: center;
        padding: 0px 75px;
        @media(max-width: 500px){
            margin-top: 40px;
        }

        button {
            background: white;
            vertical-align: top;
            margin-top: 6px;
            padding: 8px 44px;
            font-size: 1.7rem;
            border: 1px solid black;
            cursor: pointer;
            @media(max-width: 800px){
                border-radius: 0;
            }

            &:hover {
                background: black;
                color: white;
            }
        }
    }
}


.main-content {
    border-top: 1px solid black;
    margin-top: 76px;
    padding-top: 39px;
    @media(max-width: 500px){
        width: 500px;
    }

    .bottom-content {
        margin-top: 37px;
        padding: 0px 10px;
        display: flex;
        padding-top: 25px;
        padding-bottom: 50px;
        @media(max-width: 500px){
            flex-direction: column;
        }

        .text-content {
            width: 275px;
            margin-right: 12px;
            @media(max-width: 500px){
                width: 90%;
                margin-left: 10px;
                margin-bottom: 50px;
                margin-right: 0;
            }

            &:first-child {
                margin-left: 0px;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    .middle-img {
        margin-top: 45px;
        @media(max-width: 500px){
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-left: 25px;
            width: 80%;
        }
    }

    .top-content {
        display: flex;
        padding: 0px 10px;
        @media(max-width: 500px){
            flex-direction: column;
            width: 500px;
        }

        .text-content {
            width: 410px;
            margin-right: 34px;
            @media(max-width: 500px){
                margin: 0; //check this if doesn't look right
                width: 90%;
                margin-left: 10px;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
            }

            &:first-child {
                margin-left: 0px;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

.contact {
    margin-top: 57px;
    border-top: 1px solid black;
    padding: 39px 10px 0px;

    p {
        margin: 20px 0px;
    }
}

footer {
    margin: 32px 0px;
    text-align: center;
    font-size: 1.4rem;
}